@media only screen and (max-width: 700px) {
    .ellipse-11 {
        position: relative;
        left: 30px;
        right: 0px;
        top: -50px;
    }

    .rect-7 {
        position: relative;
        left: 100px;
    }
    
    
    .ellipse-5 {
        position: relative;
        right: 0px;
        left: 120px;
        top: -12px;
    
    }
    
    .rect-4 {
        position: relative;
        bottom: 0px;
        left: -50px;
        top: 68px;
    }
  }