@media only screen and (max-width: 700px) {
    .ellipse-11 {
        position: relative;
        left: 30px;
        right: 0px;
        top: -50px;
    }

    .rect-7 {
        position: relative;
        left: 100px;
    }
    
    
    .ellipse-5 {
        position: relative;
        right: 0px;
        left: 120px;
        top: -12px;
    
    }
    
    .rect-4 {
        position: relative;
        bottom: 0px;
        left: -50px;
        top: 68px;
    }

    .navigation-nav {
        width: 70%;
        font-size: 10px;
    }

    .hero-section-text {
        width: 327px;
        padding: 20px;
    }

    h1 {
        font-size: 20px;
    }

    .my-description {
        color: #172B4D;
        font-size: 15px;
        height: 98px;
    }
    
    .connect-text {
        margin-top: 50px;
        font-size: 15px;
        color: #172B4D;
    }
    
    .social-icons {
        color: #505F79;
        font-size: 16px;
        list-style: none;
        display: flex;
        width: 90px;
        justify-content: space-evenly;
    }
    
    .social-icons li:hover {
        cursor: pointer;
        color: #172B4D;
    }


.lower-shapes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rec-5 {
    position: relative;
    top: 58px;
    right: 120px;
}

.ellipse-12 {
    position: relative;
    left: 50px;
}

.ellipse-13 {
    position: relative;
    right: 0px;
    top: 38px;
}
  }




/* Special sizes */

@media only screen and (max-width: 1024px) and (min-width: 426px) {
    .navigation-nav {
        width: 50%;
    }
    .hero-section-text {
        padding: 20px;
    }

    .proj-languages{
        margin: 10px 0;
    }

    .language {
        font-size: 10px;
        background-color: #EBEBFF ;
        color: #6070FF;
        padding: 5px 10px;
        border-radius: 5px;
    }
  }

  @media only screen and (max-width: 769px){
    .portfolio{
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .proj-img {
        width: 100%;  
    }
    .proj-details {
        width: 100%;
        padding: 0 25px;
    }

    .see-proj-btn {
        align-self: center;
    }
    
  }

  @media only screen and (max-width: 426px){
    .proj-languages {
        flex-direction: column;
        text-align: center;
    }

    .proj-subtitle  {
        width: 100%;
        font-size: 15px;
        line-height: 20px;
    }

    .language {
        margin: 5px;
    }
  }

@media only screen and (max-width: 321px) {
    .lower-shapes {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .ellipse-4 {
        position: relative;
        left: 200px;
    }
    .rec-5 {
        position: relative;
        top: 58px;
        left: 80px;
    }
  }