nav {
    display: flex;
    justify-content: space-between;
}

.my-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.navigation-nav {
    width: 30%;
}

.navigation-nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
