/* Main */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family:'Poppins', sans-serif;;
 }


 /*  Header */

nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.my-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.navigation-nav {
    width: 30%;
    color: #344563;
    font-size: 15px;
    align-self:center
}

.navigation-nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.navigation-nav ul li:hover {
    cursor: pointer;
}


/* Hero Section */

.upper-shapes {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}

.ellipse-11 {
    position: relative;
    right: 60px;
    top: 20px;
}


.ellipse-5 {
    position: relative;
    right: 40px;
    top: 15px;

}

.rect-4 {
    position: relative;
    bottom: 135px;
    left: 130px;
}


.hero-section-text {
    width: 920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* padding: 25px; */
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #172B4D;
}

.my-description {
    color: #172B4D;
    font-size: 20px;
    height: 98px;
}

.connect-text {
    font-size: 16px;
    color: #172B4D;
}

.social-icons {
    color: #505F79;
    font-size: 16px;
    list-style: none;
    display: flex;
    width: 120px;
    justify-content: space-between;
}

.social-icons li a {
    color: #505F79;
}

.social-icons li a:hover {
    cursor: pointer;
    color: #172B4D;
}

.lower-shapes {
    margin: 100px auto;
    width: 65%;
    display: flex;
    justify-content: space-around;
}

.rec-5 {
    position: relative;
    top: 58px;
    right: 120px;
}

.ellipse-12 {
    position: relative;
    right: 160px;
}

.ellipse-13 {
    position: relative;
    right: 220px;
    top: 35px;
}