/* Main */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family:'Poppins', sans-serif;
     text-decoration: none;
 }

 .hide {
     display: none !important;
     z-index: -1;
 }


 /*  Header */

nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.my-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.navigation-nav {
    width: 30%;
    align-self:center
}

.navigation-nav ul li a {
    color: #344563;
    font-size: 15px;
}

.navigation-nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.navigation-nav ul li:hover {
    cursor: pointer;
}


/* Hero Section */

.upper-shapes {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}

.ellipse-11 {
    position: relative;
    right: 60px;
    top: 20px;
}


.ellipse-5 {
    position: relative;
    right: 40px;
    top: 15px;

}

.rect-4 {
    position: relative;
    bottom: 135px;
    left: 130px;
}


.hero-section-text {
    width: 920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* padding: 25px; */
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #172B4D;
}

.my-description {
    color: #172B4D;
    font-size: 20px;
    height: 98px;
}

.connect-text {
    font-size: 16px;
    color: #172B4D;
}

.social-icons {
    color: #505F79;
    font-size: 16px;
    list-style: none;
    display: flex;
    width: 120px;
    justify-content: space-between;
}

.social-icons li a {
    color: #505F79;
}

.social-icons li a:hover {
    cursor: pointer;
    color: #172B4D;
}

.lower-shapes {
    margin: 100px auto;
    width: 65%;
    display: flex;
    justify-content: space-around;
}

.rec-5 {
    position: relative;
    top: 58px;
    right: 120px;
}

.ellipse-12 {
    position: relative;
    right: 160px;
}

.ellipse-13 {
    position: relative;
    right: 220px;
    top: 35px;
}



/* Portfolio Section */

.portfolio{
    display: flex;
    width: 80%;
    margin: 20px auto;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 10px;
    border: 1px solid #DFE1E6;
}

.poject-right {
    flex-direction: row;
}

.poject-left {
    flex-direction: row-reverse;
}


.proj-img {
    width: 50%;
    border-radius: 10px;
}

.proj-subtitle {
    color: #344563;
    font-size: 18px;
    font-weight: 500;
}

.subtitle-details {
    color: #6B778C;
}

.dot-separtion {
    font-size: 40px;
    font-weight: 700;
    color: #C1C7D0;
}

.proj-details {
    width: 50%;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

.proj-description {
    color: #344563;
}

.proj-languages {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.language {
    background-color: #EBEBFF ;
    color: #6070FF;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
}

.see-proj-btn {
    width: 125px;
    height: 50px;
    border-radius: 5px;
    border: 1px #DFE1E6 solid;
    cursor: pointer;
    margin-top: 5px;
}

.see-proj-btn a {
    color: #396DF2;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
}


/* Feature projects */
.feature-projcts{
    display: flex;
    justify-content: space-around;
}

.feature-proj-box{
    width: 25%;
    height: 100%;
    height: 300px;
}

.feature-proj-box img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.box-1 {
    background: url("../dist/assets/projects-img/business\ articles.png") no-repeat;
    background-position: center;
    background-size: cover;
}

.feature-proj-box-1:hover + .box-1 {
 display: block;
}

.box-2 {
    background: url("../dist/assets/projects-img/shooter.png") no-repeat;
    background-position: center;
    background-size: cover;
}

.box-3 {
    background: url("../dist/assets/projects-img/indeed-web-scrapper.png") no-repeat;
    background-position: center;
    background-size: cover;
}


.hidden-btn{ 
    background-color: #172b4db4;
    width: 100%;
    height: 100%;
    text-align: center;
}

.hidden-btn:hover {
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

.hidden-btn button {
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #637AFB;
    margin-top: 50%;
    cursor: pointer;
}

.all-proj-btn {
    width: 20%;
    height: 50px;
    margin: 20px auto;
    text-align: center;
    background-color: #637AFB;
    padding: 12px;
    border-radius: 10px;
}

.all-proj-btn a{
    color: white;
}


/* Show Feature projects */




/* About me section */

.about-me {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 20px auto;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 10px;
}

.about-me-text  {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.skills-tabs {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;


}

.tab{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    cursor: pointer;
   
}

.tab-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden-tab{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.download-cv {
    width: 25%;
}


/* Programming icons */
.devicon-javascript-plain,
.devicon-ruby-plain-wordmark ,
.devicon-html5-plain-wordmark,
.devicon-css3-plain-wordmark,
.devicon-rails-plain-wordmark ,
.devicon-react-original-wordmark ,
.devicon-redux-original ,
.devicon-postgresql-plain-wordmark,
.devicon-mysql-plain-wordmark,
.devicon-webpack-plain-wordmark,
.devicon-nodejs-plain-wordmark ,
.devicon-bootstrap-plain-wordmark,
.devicon-visualstudio-plain-wordmark,
.devicon-linux-plain,
.devicon-github-original-wordmark,
.devicon-git-plain-wordmark,
.devicon-wordpress-plain-wordmark
{
    font-size: 60px;
    height: 60px;
    margin: 10px;
    background-color: #F7F7F9;
}


/* Portfolio page */

.all-projects {
    text-align: center;
    background-color:#637AFB;
    border-radius: 5px;
    margin: 20px 0;
}

.all-projects h1 {
    color: white;
}




/* Style for IDS */

#feature-first , #feature-two , #feature-three{
    /* opacity: 0; */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 600px;
    background-color: #EBEBFE;
    padding: 50px;
    border: 1px solid #A7AEFF;
    border-radius: 10px;
    margin: 10px;
}

.feature-proj-img {
    width: 90%;
    max-height: 550px;
    margin: 0 auto;
    border-radius: 10px;
}

.feature-proj-des {
    display: flex;
    width: 90%;
    margin: 10px auto;
    border-radius: 10px;
}

.lang-feature {
    align-self: center;
    background-color: #EFEFEF;
    border: 1px #DFE1E6 solid;
}

#feature-first strong , #feature-two strong , #feature-three strong {
    align-self: center;
    font-size: 15px;
    cursor: pointer;
    color: red;
}

/* Contact me */
.contact-me {
    height: 500px;
    background-color: #6070FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-top-left-radius: 100px;
    margin: 100px 0 0 0;
    text-align: center;

}

.contact-me h1 {
    color: white;
}

.contact-me p {
    width: 50%;
    margin: 10px;
} 